body{
	background: #66d8ff;
width:100%;
}

.box{
	width: 90px;
	text-align: center;
	font-size: 16px;
    padding: 10px;
    border: 3px solid #FFEB3B;
    margin-top: -45px;
    margin-left: 990px;

}
.logout{
	width: 90px;
	text-align: center;
	font-size: 16px;
    padding: 10px;
    background-color:  #FFEB3B;
    margin-left: 1000px;
    margin-top: 40px;
}
.profile{
	
	margin-left: 880px;
	margin-top: -45px;
	font-style: bold;
	color: #FFFFFF;
	text-decoration: underline;
}
.circle{
	margin-left: 380px;
	margin-top: 100px;
	width: 100px;
	height: 100px;
	border: 3px solid #FFFFFF;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.scircle{
	margin-left: 200px;
	margin-top: 100px;
	width: 80px;
	height: 80px;
	border: 3px solid #FFEB3B;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.goldfish{
	margin-left: 400px;
	margin-top: -97px;
}
.question{
	margin-left: 840px;
	margin-top: 40px;
	font-size: 16px;
}
.question2{
	margin-left: 870px;
	margin-top: 40px;
	font-size: 16px;
}
.fish{
	margin-top: -55px;
	margin-left: 40px;
}
.title{
	color: #FFFFFF;
	text-align: center;
	margin-top: 70px;
	font-family: sans-serif;
	font-size: 35px;
}
.title2{
	color: #FFFFFF;
	text-align: center;

	font-family: sans-serif;
	font-size: 35px;
}
.description{
	color: #ff3399;
	text-align: center;
	font-style: bold;
	margin-top: 0px;
	font-family: sans-serif;
	font-size: 16px;
}
.sign{
	color:#ff3399;
	text-align: center;
	font-family: impact;
	font-size: 35px;
	margin-top: 40px;
	margin-bottom: 0px;
}
.name{
	width: 570px;
	text-align: left;
	font-style: italic;
    padding: 10px;
    border: 1px solid gray;
    margin-left: 280px;
    margin-top: 50px;
}
.username{
	width: 570px;
	text-align: left;
	font-style: italic;
    padding: 10px;
    border: 1px solid gray;
    margin-left: 280px;
    margin-top: 60px;
  }
.email{
	width: 570px;
	text-align: left;
	font-style: italic;
    padding: 10px;
    border: 1px solid gray;
    margin-left: 280px;
   	margin-top: -15px;
}
.password{
	width: 570px;
	text-align: left;
	font-style: italic;
    padding: 10px;
    border: 1px solid gray;
    margin-left: 280px;
    margin-top: -15px;
}

.signup{
	width: 220px;
	text-align: center;
	font-style: bold;
    padding: 10px;
    background-color:  #FFEB3B;
    margin-left: 470px;
    margin-top: 45px;
}

.newfish{
	width: 400px;
	height: 120px;
	text-align: center;
	font-style: bold;
    padding: 10px;
    border: 2px solid gray;
    margin-left: 360px;
    margin-top: 90px;
}
.newfishtitle{
	
	text-align: center;
	font-style: bold;
    margin-left: 10px;
    margin-top: -190px;
}
.submit{
	width: 220px;
	text-align: center;
	font-style: bold;
    padding: 10px;
    background-color:  #FFEB3B;
    margin-left: 470px;
    margin-top: 195px;
}
#sname{
	margin-left: 320px;
	margin-top: -105px;
	color: #FFFFFF;
	font-family: sans-serif;
	font-size: 20px;
}
.slocation{
	margin-left: 320px;
}
.savailable{
	margin-left: 320px;
}
.star{
	margin-left: 800px;
	margin-top: -100px;
}
.arrow{
	
	margin-left: 880px;
	margin-top: -44px;
}
.peoplerate{
	margin-left: 940px;
	margin-top: -30px;
}
.stars{
	margin-left: 790px;
	margin-top: -330px;
}
hr { 
    margin-top: 7em;
    margin-bottom: 0.5em;
    width: 80%;
    border-width: 1px;
    border-color: #FFFFFF;
}
.searches{
	color:#ff3399;
	margin-left: 150px;
	font-family: sans-serif;
	text-decoration: underline;
	font-size: 20px;
	margin-top: 40px;
	margin-bottom: 0px;
}

.scircle2{
	margin-left: 200px;
	margin-top: 50px;
	width: 80px;
	height: 80px;
	border: 3px solid #FFEB3B;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.sname2{
	margin-left: 320px;
	margin-top: -100px;
	color: #FFFFFF;
	font-family: sans-serif;
	font-size: 20px;
}
.slocation2{
	margin-left: 320px;
}
.savailable2{
	margin-left: 320px;
}
.star2{
	margin-left: 800px;
	margin-top: -100px;
}
.arrow2{
	
	margin-left: 880px;
	margin-top: -44px;
}
.peoplerate2{
	margin-left: 940px;
	margin-top: -30px;
}

.stars2{
	margin-left: 790px;
	margin-top: 160px;
}

.scircle3{
	margin-left: 200px;
	margin-top: 50px;
	width: 80px;
	height: 80px;
	border: 3px solid #FFEB3B;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
#sname3{
	margin-left: 320px;
	margin-top: -100px;
	color: #FFFFFF;
	font-family: sans-serif;
	font-size: 20px;


}
.slocation3{
	margin-left: 320px;
}
.savailable3{
	margin-left: 320px;
}
.star3{
	margin-left: 800px;
	margin-top: -100px;
}
.arrow3{
	
	margin-left: 880px;
	margin-top: -44px;
}
.peoplerate3{
	margin-left: 940px;
	margin-top: -30px;
}

.stars3{
	margin-left: 790px;
	margin-top:-428px;
}
.caregiver{
	position: absolute;
	width: 200px;
	height: 40px;
	text-align: center;
	font-style: bold;
    padding: 10px;
    background-color:  #FFEB3B;
    margin-left: 700px;
    margin-top: 200px;
}
#caretaker{
	position: absolute;
	width: 200px;
	height: 40px;
	text-align: center;
	font-style: bold;
    padding: 10px;
    background-color:  #FFEB3B;
    margin-left: 300px;
    margin-top: 200px;
}
.caregiver2{
	position: absolute;
	margin-left: 365px;
    margin-top: 215px;
    color: #a6a6a6;
    font-size: 22px;
    text-decoration: bold;
   font-family: helvetica;

}
.caretaker2{
	position: absolute;
	margin-left: 765px;
   margin-top: 215px;
   color: #a6a6a6;
   font-size: 22px;
   text-decoration: bold;
   font-family: helvetica;

}

.contractDetails{
	text-align: center;
	font-family: sans-serif;
	color: #FFFFFF;
}

#denyButton{
	display: inline-block;
	width: 90px;
	text-align: center;
	font-size: 16px;
	font-family: sans-serif;
	color: #FFFFFF;
    padding: 10px;
    background-color:  #FF0000;
    margin-left: 38%;
    margin-top: 40px;
}

#confirmButton{
	display: inline-block;
	width: 90px;
	text-align: center;
	font-size: 16px;
	font-family: sans-serif;
	color: #FFFFFF;
    padding: 10px;
    background-color:  #00FF00;
    margin-left: 80px;
    margin-top: 40px;
}

.breakSelection{
	margin-top: 5px;
	margin-bottom: 5px;
}

#profileInputs{
	position: absolute;
	margin-left: 550px;
	margin-top: -122px;
}.searches{
	color:#ff3399;
	margin-left: 150px;
	font-family: sans-serif;
	text-decoration: underline;
	font-size: 20px;
	margin-top: 40px;
	margin-bottom: 0px;
}